*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Avenir',
    Helvetica,
    Arial,
    sans-serif;
}

#app{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:space-between;
}

header{
  width:100%;
  height: 60px;
  text-align: center;
  margin-top: 2rem;
}


.wrapper{
  justify-content: center;
  
  display:flex;
  align-items:top;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.table-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

table {
  margin-top: 1rem;
  border-collapse: collapse;
  table-layout: fixed;
  height: inherit;
}

thead {
  background: #ccc;
}

td,
th {
  border: 1px solid gray;
  border-top: 0;
  padding: 2px 5px;
  width: 300px;
}

th {
  border-top: 1px solid gray;
  cursor: pointer;
}

.level-2 .name {
  background: lightblue;
  
}

.level-3 .name {
  background: rgb(29, 127, 167);
  
}

.level-4 .name {
  background: rgb(24, 103, 134);
  
}

.level-2>.name {
  padding-left: 5%
}

.level-3>.name {
  padding-left: 10%
}

.level-4>.name {
  padding-left: 15%;
}

.parent .name{
  cursor: pointer;
}

.parent > .name::before{
  content: "+";
}

form {
  width: 400px;
  height:200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  border-radius: 4px;
}

button{
  min-width: 20%;
  padding: 0.3rem 0.4rem;
  cursor: pointer;
}

label{
  width: 80%;
  display: flex;
  justify-content:space-between;
}

input, select{
  padding: 0.1rem;
}

select{
  min-width: 174px;;
}

